body {
  background-color: white;
}

.overarching  {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 75vh;
  
  
}

.left-side {
  position: relative;
  background-color: rgb(35, 184, 237);
  color: white;
  overflow: hidden;
  
  
}
.left-side .react-image{
  width: 100%;
  position: absolute;
  left: -200px;
  top: -50px;
  
}

.left-side .center-text {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 33%;
  background-color: rgb(40, 39, 39);
  text-align: center;
  font-size: x-large;
  

}

.scratch {
  position: absolute;
  bottom: 10px;
  left: 100px;
}

.right-side {
  background-color: white;
  position: relative;

}

.right-side .recipe {
  text-align: center;
}

.right-side .form{
  text-align: center;
  margin: 10px;
}

.right-side .recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.card-display {
  display: flex;
  margin: 10px;
}

